<body>
    <h1 class="p-10"><a class="text-5xl font-bold text-white" href="/">Xarr.</a></h1>
    <h2 class="text-white text-5xl text-center mt-16 font-semibold">Our <span class="text-blue-500">Products</span></h2>
    <p class="font-mono text-m text-white text-center">For uncover your <span class="text-blue-500">charisma</span></p>
    <%- include('producttemplate.ejs')  %>
</body>