<!-- Product Start-->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-center place-items-center mt-20"> 
    <% for (let product of productdata) { %>
        <div class="w-60 h-[440px] border-2 border-white rounded-2xl mx-10 my-10 text-center p-3" style="background-image: url(./statics/img/xarrbg.png); background-repeat: no-repeat; background-size: cover;">
            <img class="w-50 h-60 mx-auto" src="<%= product.img %>">
            <h3 class="text-xl text-white text-center p-3"><%= product.name %></h3>
            <p class="text-white font-mono text-center mb-5"><%= product.desc %></p>
            <% let href = "/product/" + product.id %>
            <a href="<%= href %>" class="text-white bg-blue-500 hover:text-blue-500 hover:bg-white transition-all duration-1000 ease pe-5 ps-5 rounded-xl text-center">Read More</a>
        </div>
      <% } %>
</div>
<!-- Product End-->