<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="./statics/output.css">
</head>
<body>
    <h1 class="text-7xl text-center text-slate-500 mt-20" id="404h">404</h1>
    <p class="text-center font-sans p-3">This page was not found.</p>
    <p class=" text-sm text-center font-mono text-slate-700">Go to homepage from <a href="/" class="text-red-600">there</a></p>
    <p class="text-center text-xs text-slate-300">Your request: <%= url %></p>
</body>
</html>