<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xarr | Home</title>
    <link rel="stylesheet" href="./statics/output.css">
</head>
<body>
    <h1 class="text-5xl font-bold text-white p-10">Xarr.</h1>
    <div class="grid grid-cols-1 p-2 mt-20 lg:grid-cols-2">
        <div>
            <h2 class="text-white text-5xl text-center mt-16 font-semibold">Be <span class="text-blue-500">productive</span> with<br>Xarr.</h2>
            <p class="text-white text-xl text-center mt-10 font-thin">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Vestibulum nec elit eu magna consequat dictum. <br>
                Integer vel luctus ex. Phasellus auctor aliquet urna, <br> 
                non finibus dui tempor sit amet.
            </p>
            <div class="grid grid-cols-2 text-center p-3 mt-8">
                <a href="/" class="hover:scale-[1.2] hover:text-blue-500 hover:bg-white transition-all duration-1000 ease text-white w-40 bg-blue-500 h-10 font-semibold rounded-xl leading-[40px] mx-auto">LET'S LEARN MORE</a>
                <a href="products.html" class="hover:scale-[1.2] hover:text-white hover:bg-blue-500 transition-all duration-1000 ease text-blue-500 w-40 bg-white h-10 font-semibold rounded-xl leading-[40px] mx-auto">SEE PRODUCTS</a>
            </div>
        </div>
        <div>
            <img class="mx-auto w-[400px] mt-32 lg:mt-12" src="./statics/img/mobile.png">
        </div>
    </div>
</body>
<style>
    body{
        background: black;
    }
</style>
</html>