<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xarr | Home</title>
    <link rel="stylesheet" href="./statics/output.css">
</head>
<body>
    <h1 class="text-5xl font-bold text-white p-10">Xarr.</h1>
    <h2 class="text-white text-5xl text-center mt-16 font-semibold">Our <span class="text-blue-500">Products</span></h2>
    <p class="font-mono text-m text-white text-center">For uncover your <span class="text-blue-500">charisma</span></p>
    <!-- Product Start-->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-center place-items-center mt-20">
        <div class="w-60 h-[440px] border-2 border-white rounded-2xl mx-10 text-center p-3 my-10" style="background-image: url(./statics/img/xarrbg.png); background-repeat: no-repeat; background-size: cover;">
            <img class="w-50 h-60 mx-auto" src="./statics/img/prodimg/p1.png">
            <h3 class="text-xl text-white text-center p-3">Xarr. BlackJack Special</h3>
            <p class="text-white font-mono text-center mb-5">Black Jacket Suit</p>
            <a href="/product/1" class="text-white bg-blue-500 hover:text-blue-500 hover:bg-white transition-all duration-1000 ease pe-5 ps-5 rounded-xl text-center">Read More</a>
        </div>
    </div>
    <!-- Product End-->
</body>
<style>
    body{
        background: black;
    }
</style>
</html>